<div class="lg:w-4/12 m-5 p-10 shadow-2xl mx-auto">
    <h3 class="text-3xl text-center font-semibold py-3">Reset Your Password</h3>
     <form [formGroup]="resetForm" class="flex flex-col">
        <span class="mb-2 text-center">
            Please use strong password.
        </span>
        <div class="flex flex-col mt-4 mb-1">
            <input  formControlName="password" class="p-2 border-gray-300 rounded" type="password" placeholder="Password">
            <span *ngIf="resetForm.hasError('required', 'password')  && resetForm.controls['password'].dirty" class="text-red-500 text-xs">* Password is Required</span>
        </div>
        <div class="flex flex-col mt-4 mb-1">
            <input  formControlName="confirmPassword" class="p-2 border-gray-300 rounded" type="password" placeholder="Confirm Password">
            <span *ngIf="resetForm.hasError('required', 'confirmPassword')  && resetForm.controls['confirmPassword'].dirty" class="text-red-500 text-xs">* Confirm Password is Required</span>
            <span *ngIf="resetForm.hasError('confirmPasswordValidator', 'confirmPassword')" class="text-red-500 text-xs">* Password didn't Matched</span>
        </div>
        <button [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid" (click)="reset()" class="bg-indigo-500 p-2 rounded mt-3 text-white" >Change Password</button>
     </form>
</div>
